.logo {
    line-height: 32px;
    color: white;
    font-size: 18px;
    margin: 10px;
    text-align: center;
}

.flex {
    flex: 1;
    overflow: auto;
}

.sideMenu {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.topHeader {
    padding: 0 16px;
}